@import "tailwindcss";
@font-face {
  font-family: 'Mont';
  src: url('/Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Mont';
  src: url('/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: 900;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
::-webkit-scrollbar {
  width: 5.32px;
  height: 4.32px;
}

::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #0F72EB;
  border-radius: 9999px;
}
body {
 
  color: black;
  font-family: Arial, Helvetica, sans-serif;

}
button {
  cursor: pointer;
}
.gradient {
  background: linear-gradient(to right, #0F72EB, #00B0F2,#0F72EB); /* задаём градиент */
  -webkit-background-clip: text; /* клипируем фон по тексту */
  -webkit-text-fill-color: transparent; /* делаем текст "прозрачным", чтобы был виден градиент */
}
/* haeder  */
header {
  box-shadow: 0px 2px 12.2px 0px #357ACF26;
  background: #FDFFFE;

}
header .logo {
 font-family: Mont;
 font-weight: 900;
  background: linear-gradient(to right, #0F72EB, #00B0F2,#0F72EB); /* задаём градиент */
  -webkit-background-clip: text; /* клипируем фон по тексту */
  -webkit-text-fill-color: transparent; /* делаем текст "прозрачным", чтобы был виден градиент */
  
}
header .btn {
  box-shadow: 0px 1.5px 1.5px 0px #223B5A59;

 }
 header .burder_btn {
  display: none;
 }
 header .low_res_menu {
 display: none;

 }

 @media (max-width:1219px) {
  .banner_container .contacts button{
    font-size: 10px;
    width: 130px;
    height: 27px;
    padding: 0;
  }
  .banner_container .contacts .info {
    font-size: 10px;
  }
  .banner_container .title {
    max-width: 500px;
  }
  .banner_container .info {
    max-width: 300px;
  }
  .banner_container {
    padding: 67px 30px;
  }
  .mail_container {
    margin: 67px 30px;
  }
  .posib_container {
    padding: 0px 30px;
  }
  .project_container {padding: 0px 30px;}
  .banner_container h1 {
    font-size: 44px;
  }
  .banner_container p {
    font-size: 14px;
    
  }
  header .menu {
    display: none;
  }
  header .burder_btn {
    display: flex;
   }
  header>div {
    padding: 0 30px;
  }
  header .header_container {
   height: 70px;
  }

  header .low_res_menu {
    padding-bottom: 50px;
    top: 70px;
    display: flex;
   }
  header .logo {
    font-size: 25px;
  }
header ul {
gap: 20px;

}
header a {
  font-size: 15px;
  
  }
  header .contacts{display: none; }
  header .btn {
    padding: 5px 10px;
    font-size: 13px;
  
   }
   header .contacts svg {
    width: 20px;
   }
}

/* banner */


@media (max-width:1399px) {
  .banner_container .phone {
    width: 300px;
  }

  .project_container .info_block h1 {
    font-size: 23px;
    max-width: 230px;
  }
  .project_container .info_block p {
    font-size:14px;
    max-width: 502px;
  }
}

@media (max-width:897px) {
  .project_container .projects {
    padding-bottom: 27px;
  }
    .project_container .info_block {
    flex-direction: column;
  }
  .banner_container .title {
    max-width: 325px;
  }
  .banner_container .title h1 {
    font-size: 31px;
  }
  .banner_container .phone {
  width: 250px;
  }
  .project_container .projects h1 {
    font-size: 9px;
    width: 100%;
  }
  .project_container .projects p {
    font-size: 8px;
    width: 100%;
  }
  .project_container .projects >div {
    width:154px;
    
  }
  .project_container .projects .img{
    height: 102px;
    
  }
}

@media (max-width:703px) {
  .banner_container .phone {
    width: 200px;
    }
}

@media (max-width:639px) {
  .banner_container .phone {
    width: 150px;
    }
    .posib_container >div:last-child  {
      grid-template-columns: repeat(2,minmax(100px,1fr));
      grid-template-rows:repeat(3,minmax(147px,1fr)) ;
      gap: 7px  ;
    }
}
@media (max-width:579px) {
  .banner_container .phone {
    display: none;
    }
}
.posib_container .last {
  display: none;
}
.posib_container .low_res_info {
  display: none;
}
@media (max-width:1115px) {
  .posib_container {
    margin-top: 50px;
  }
  .posib_container .low_res_info {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .posib_container .last {
    display: flex;
  } 
  .posib_container >div:last-child >div:first-child {
    display: none;
  }
  .posib_container >div:last-child  {
    /* grid-template-columns: repeat(2,minmax(152px,1fr));
    grid-template-rows:repeat(3,minmax(147px,1fr)) ; */
    gap: 7px  ;
  }

  .posib_container >div:last-child h1  {
    text-align: center;
    font-size: 11px;
  }
  .posib_container >div:last-child p  {
    font-size: 7px;
    text-align: center;
  }
  .posib_container >div:last-child .img  {
   width: 50px;
   height: 45px;
  }
  .posib_container >div:last-child >div  {
    align-items: center;

   height: 100%;
   }
   .posib_container >div:last-child >div>div:nth-child(2)  {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

}

.mail_container svg {
  bottom: -30%;
}
@media (max-width:1711px) {
  .mail_container svg {
    bottom: -20%;
  }
}
@media (max-width:1461px) {
  .mail_container svg {
    bottom: -10%;
  }
}
@media (max-width:1323px) {
  .mail_container svg {
    bottom: 0%;
  }
}

.mail_container input::placeholder,textarea::placeholder {
  color: #555555;
  font-size: 15px;

}
@media (max-width:1295px) {
  .mail_container {
    flex-direction: column;
    height: auto;
    position: relative;
    padding-bottom: 104px;
    padding-inline: 24px;  
    padding-top: 20px;
    border-radius: 8px;
  }
  .mail_container h2 {
    font-size: 28px;
    max-width: 265px;
  }
  .mail_container p {
    font-size: 11px;
    max-width: 245px;
  }
  .mail_container button {
    font-size: 8px;
    margin-top: 18px;
    padding: 6px 31px;
  }
  .mail_container input{
    padding: 10px 14px;
    height: 30px;
    font-size: 10px;
    border-radius: 14px;
    margin-top: 8px;
  }
  .mail_container span {
    font-size: 8px;
  }
  .mail_container h3{
  font-size: 9px;
  }
  .mail_container img {
    width: 15px;
    height: 15px;
  }
  .mail_container .contacts {
    gap: 3px;
  }
  .mail_container .contacts>div:first-child {
    gap: 6px;
  }
  .mail_container textarea{
    padding: 10px 14px;
    height: 74px;
    font-size: 10px;
    border-radius: 14px;
    margin-top: 8px;
  }
  .mail_container input::placeholder,textarea::placeholder {
    font-size: 9px;
  }
  .mail_container h1 {
    display: none;
  }
  .mail_container .contacts {
    position: absolute;
    bottom: 28px;
  }
  .mail_container svg {
    bottom:0;
    width: 200%;
    left: -70%;
  }
}
@media (max-width:843px) {
 
  .mail_container svg {
    bottom: 0;
    width: 250%;
    left: -100%;
  }
}
@media (max-width:743px) {
 
  .mail_container svg {
    bottom: 0;
    width: 280%;
    left: -130%;
  }
}
@media (max-width:655px) {
 
  .mail_container svg {
    bottom: 0;
    width: 300%;
    left: -160%;
  }
}
@media (max-width:569px) {
 
  .mail_container svg {
    bottom: 0;
    width: 300%;
    left: -150%;
  }
}
@media (max-width:449px) {
 
  .mail_container svg {
    bottom: 0;
    width: 430%;
    left: -250%;
  }
}